In [1]:
import numpy as np
import pandas as pd
import os
from nbloader import Notebook
from tqdm import tqdm

# List files

In [2]:
json_files = os.listdir('../data/json/')
len(json_files)

12773

# Loop and parse json files

In [3]:
json_parser = Notebook('json_parser.ipynb')

reviews_dataset = []
hotels_dataset = []

for filename in tqdm(json_files):
    json_parser.ns['filename'] = filename
    json_parser.run_all(blacklist='setup')
    
    reviews_dataset += json_parser.ns['reviews']
    hotels_dataset.append(json_parser.ns['hotel_info'])

100%|██████████| 12773/12773 [01:01<00:00, 206.65it/s]

# Save

In [5]:
pd.DataFrame(hotels_dataset).to_csv('../data/hotels_dataset.csv', index=False)
pd.DataFrame(reviews_dataset).to_csv('../data/reviews_dataset.csv', index=False)